@model ShopBanHang.Models.tblProduct
@{
    ViewBag.Title = "Model.Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" id="custom-css-home" href="~/Content/wp-base/product/css/custom-product-css.css">*@
<script type='text/javascript' src="~/Content/wp-base/product/js/custom-product-js.js"></script>

<div class="page-title shop-page-title product-page-title">
    <div class="page-title-inner flex-row medium-flex-wrap container">
        <div class="flex-col flex-grow medium-text-center">
            <div class="is-small">
                <nav class="woocommerce-breadcrumb breadcrumbs">
                    <a href="..\..\index.htm">Trang chủ</a> <span class="divider">&#47;</span> <a href="..\..\danh-muc-san-pham\trang-diem\index.htm">Trang điểm</a>
                </nav>
            </div>
        </div><!-- .flex-left -->
        <div class="flex-col medium-text-center">
        </div><!-- .flex-right -->
    </div><!-- flex-row -->
</div><!-- .page-title -->


<main id="main" class="">
    <div class="shop-container">
        <div class="container">
            <div class="woocommerce-notices-wrapper"></div>
        </div><!-- /.container -->
        <div id="product-279"
             class="product type-product post-279 status-publish first instock product_cat-cham-soc-toc product_cat-trang-diem has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
            <div class="row content-row row-divided row-large row-reverse">

                <div id="product-sidebar" class="col large-3 hide-for-medium shop-sidebar ">

                    <aside id="block_widget-2" class="widget block_widget">
                        <span class="widget-title shop-sidebar">Tiêu chí hoạt động</span>
                        <div class="is-divider small"></div>
                        <div class="row tieu-chi-sidebar" id="row-806785460">

                            <div class="col small-12 large-12">
                                <div class="col-inner">
                                    <div class="icon-box featured-box icon-box-left text-left">
                                        <div class="icon-box-img" style="width: 60px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="225" height="225"
                                                         src="~/Content/wp-content/uploads/2019/02/3.jpg"
                                                         class="attachment-medium size-medium" alt=""
                                                         srcset="~/Content/wp-content/uploads/2019/02/3.jpg 225w, ~/Content/wp-content/uploads/2019/02/3-150x150.jpg 150w, ~/Content/wp-content/uploads/2019/02/3-100x100.jpg 100w"
                                                         sizes="(max-width: 225px) 100vw, 225px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <p>
                                                <span style="font-size: 90%;">
                                                    Phát hiện hàng giả, bạn trả hàng và
                                                    nhận thêm <strong>500%</strong> giá trị.
                                                </span>
                                            </p>

                                        </div>
                                    </div><!-- .icon-box -->
                                    <div class="icon-box featured-box icon-box-left text-left">
                                        <div class="icon-box-img" style="width: 60px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="225" height="225"
                                                         src="~/Content/wp-content/uploads/2019/02/ỈE.jpg"
                                                         class="attachment-medium size-medium" alt=""
                                                         srcset="~/Content/wp-content/uploads/2019/02/ỈE.jpg 225w, ~/Content/wp-content/uploads/2019/02/ỈE-150x150.jpg 150w, ~/Content/wp-content/uploads/2019/02/ỈE-100x100.jpg 100w"
                                                         sizes="(max-width: 225px) 100vw, 225px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <p>
                                                <span style="font-size: 90%;">
                                                    Giao hàng miễn phí toàn HCM
                                                    từ <strong>90K</strong>(huyện 200K).
                                                </span>
                                            </p>
                                        </div>
                                    </div><!-- .icon-box -->

                                    <div class="icon-box featured-box icon-box-left text-left">
                                        <div class="icon-box-img" style="width: 60px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="225" height="225"
                                                         src="~/Content/wp-content/uploads/2019/02/1.jpg"
                                                         class="attachment-medium size-medium" alt=""
                                                         srcset="~/Content/wp-content/uploads/2019/02/1.jpg 225w, ~/Content/wp-content/uploads/2019/02/1-150x150.jpg 150w, ~/Content/wp-content/uploads/2019/02/1-100x100.jpg 100w"
                                                         sizes="(max-width: 225px) 100vw, 225px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <p>
                                                <span style="font-size: 12.96px;">
                                                    Được phép đổi trả hàng trong 14
                                                    ngày miễn phí
                                                </span>
                                            </p>

                                        </div>
                                    </div><!-- .icon-box -->

                                    <div class="icon-box featured-box icon-box-left text-left">
                                        <div class="icon-box-img" style="width: 60px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="225" height="225"
                                                         src="~/Content/wp-content/uploads/2019/02/2.jpg"
                                                         class="attachment-medium size-medium" alt=""
                                                         srcset="~/Content/wp-content/uploads/2019/02/2.jpg 225w, ~/Content/wp-content/uploads/2019/02/2-150x150.jpg 150w, ~/Content/wp-content/uploads/2019/02/2-100x100.jpg 100w"
                                                         sizes="(max-width: 225px) 100vw, 225px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <p>
                                                <span style="font-size: 12.96px;">
                                                    Dịch vụ giao hàng dưới 120 phút
                                                    tại Tp.HCM
                                                </span>
                                            </p>
                                        </div>
                                    </div><!-- .icon-box -->
                                    <p><a href="#" target="blank" rel="noopener noreferrer">Xem thêm</a></p>
                                </div>
                            </div>

                            <style scope="scope">
                            </style>
                        </div>
                    </aside>
                </div><!-- col large-3 -->





                <div class="col large-9">
                    <div class="product-main">
                        <div class="row">
                            <div class="large-6 col">
                                <div class="row row-small">
                                    <div class="col large-10">

                                        <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images relative mb-half has-hover"
                                             data-columns="4">

                                            <div class="badge-container is-larger absolute left top z-1">
                                                <div class="callout badge badge-square">
                                                    <div class="badge-inner secondary on-sale">
                                                        <span class="onsale">-@Model.Sale%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="image-tools absolute top show-on-hover right z-3"></div>

                                            <figure class="woocommerce-product-gallery__wrapper product-gallery-slider slider slider-nav-small mb-0"
                                                    data-flickity-options='{
                                                        "cellAlign": "center",
                                                        "wrapAround": true,
                                                        "autoPlay": false,
                                                        "prevNextButtons":true,
                                                        "adaptiveHeight": true,
                                                        "imagesLoaded": true,
                                                        "lazyLoad": 1,
                                                        "dragThreshold" : 15,
                                                        "pageDots": false,
                                                        "rightToLeft": false       }'>
                                                <div data-thumb="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                     class="woocommerce-product-gallery__image slide first">
                                                    <a href="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl">
                                                        <img width="358" height="358"
                                                             src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             class="wp-post-image skip-lazy" alt=""
                                                             title="son-kem-li-2-dau-lemonade-mau-nau-cam-dat-01-sugar_img_358x358_843626_fit_center"
                                                             data-caption=""
                                                             data-src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             data-large_image="Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             data-large_image_width="358"
                                                             data-large_image_height="358"
                                                             srcset="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 358w, ~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 150w, ~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 300w, Content/wp-content/uploads/2021/01/@Model.ImageUrl 100w"
                                                             sizes="(max-width: 358px) 100vw, 358px">
                                                    </a>
                                                </div>
                                                <div data-thumb="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                     class="woocommerce-product-gallery__image slide first">
                                                    <a href="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl">
                                                        <img width="358" height="358"
                                                             src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             class="wp-post-image skip-lazy" alt=""
                                                             title="son-kem-li-2-dau-lemonade-mau-nau-cam-dat-01-sugar_img_358x358_843626_fit_center"
                                                             data-caption=""
                                                             data-src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             data-large_image="Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             data-large_image_width="358"
                                                             data-large_image_height="358"
                                                             srcset="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 358w, ~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 150w, ~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 300w, Content/wp-content/uploads/2021/01/@Model.ImageUrl 100w"
                                                             sizes="(max-width: 358px) 100vw, 358px">
                                                    </a>
                                                </div>
                                                <div data-thumb="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                     class="woocommerce-product-gallery__image slide first">
                                                    <a href="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl">
                                                        <img width="358" height="358"
                                                             src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             class="wp-post-image skip-lazy" alt=""
                                                             title="son-kem-li-2-dau-lemonade-mau-nau-cam-dat-01-sugar_img_358x358_843626_fit_center"
                                                             data-caption=""
                                                             data-src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             data-large_image="Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             data-large_image_width="358"
                                                             data-large_image_height="358"
                                                             srcset="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 358w, ~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 150w, ~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 300w, Content/wp-content/uploads/2021/01/@Model.ImageUrl 100w"
                                                             sizes="(max-width: 358px) 100vw, 358px">
                                                    </a>
                                                </div>
                                                <div data-thumb="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                     class="woocommerce-product-gallery__image slide first">
                                                    <a href="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl">
                                                        <img width="358" height="358"
                                                             src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             class="wp-post-image skip-lazy" alt=""
                                                             title="son-kem-li-2-dau-lemonade-mau-nau-cam-dat-01-sugar_img_358x358_843626_fit_center"
                                                             data-caption=""
                                                             data-src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             data-large_image="Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             data-large_image_width="358"
                                                             data-large_image_height="358"
                                                             srcset="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 358w, ~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 150w, ~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 300w, Content/wp-content/uploads/2021/01/@Model.ImageUrl 100w"
                                                             sizes="(max-width: 358px) 100vw, 358px">
                                                    </a>
                                                </div>
                                                <div data-thumb="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                     class="woocommerce-product-gallery__image slide first">
                                                    <a href="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl">
                                                        <img width="358" height="358"
                                                             src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             class="wp-post-image skip-lazy" alt=""
                                                             title="son-kem-li-2-dau-lemonade-mau-nau-cam-dat-01-sugar_img_358x358_843626_fit_center"
                                                             data-caption=""
                                                             data-src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             data-large_image="Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                             data-large_image_width="358"
                                                             data-large_image_height="358"
                                                             srcset="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 358w, ~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 150w, ~/Content/wp-content/uploads/2021/01/@Model.ImageUrl 300w, Content/wp-content/uploads/2021/01/@Model.ImageUrl 100w"
                                                             sizes="(max-width: 358px) 100vw, 358px">
                                                    </a>
                                                </div>
                                            </figure>

                                            <div class="image-tools absolute bottom left z-3">
                                                <a href="#product-zoom"
                                                   class="zoom-button button is-outline circle icon tooltip hide-for-small"
                                                   title="Zoom">
                                                    <i class="icon-expand"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col large-2 large-col-first vertical-thumbnails pb-0">

                                        <div class="product-thumbnails thumbnails slider-no-arrows slider row row-small row-slider slider-nav-small small-columns-4"
                                             data-flickity-options='{
                                                        "cellAlign": "left",
                                                        "wrapAround": false,
                                                        "autoPlay": false,
                                                        "prevNextButtons": false,
                                                        "asNavFor": ".product-gallery-slider",
                                                        "percentPosition": true,
                                                        "imagesLoaded": true,
                                                        "pageDots": false,
                                                        "rightToLeft": false,
                                                        "contain":  true
                                                    }'>
                                            <div class="col is-nav-selected first">
                                                <a>
                                                    <img src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                         alt="" width="100" height="100"
                                                         class="attachment-woocommerce_thumbnail">
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a>
                                                    <img src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                         @*data-src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"*@
                                                         alt="" width="100" height="100"
                                                         class="lazy-load attachment-woocommerce_thumbnail">
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a>
                                                    <img src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                         @*data-src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"*@
                                                         alt="" width="100" height="100"
                                                         class="lazy-load attachment-woocommerce_thumbnail">
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a>
                                                    <img src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                         @*data-src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"*@
                                                         alt="" width="100" height="100"
                                                         class="lazy-load attachment-woocommerce_thumbnail">
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a>
                                                    <img src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                         @*data-src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"*@
                                                         alt="" width="100" height="100"
                                                         class="lazy-load attachment-woocommerce_thumbnail">
                                                </a>
                                            </div>
                                        </div><!-- .product-thumbnails -->
                                    </div><!-- .col -->
                                </div>

                            </div>


                            <div class="product-info summary entry-summary col col-fit product-summary">
                                @*<div class="pwb-single-product-brands pwb-clearfix">
                                        <a href="..\..\thuong-hieu\agapan\index.htm" title="Agapan">
                                            <img width="120" height="60"
                                                 src="..\..\wp-content\uploads\2019\02\1471419239agapan-logo_img_120x60_63ea52_fit_center.jpg"
                                                 class="attachment-thumbnail size-thumbnail" alt="">
                                        </a>
                                    </div>*@
                                <h1 class="product-title product_title entry-title">
                                    @Model.Name
                                </h1>

                                <div class="is-divider small"></div>
                                <div class="price-wrapper">
                                    <p class="price product-page-price price-on-sale">
                                        <del>
                                            <span class="woocommerce-Price-amount amount">
                                                @Model.Price<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                            </span>
                                        </del>
                                        <ins>
                                            <span class="woocommerce-Price-amount amount">
                                                @Model.PriceSale<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                            </span>
                                        </ins>
                                    </p>
                                </div>
                                <div class="thong-bao">
                                    <h4>Hỗ trợ khách hàng:</h4>
                                    <p>
                                        Quý khách vui lòng xem kỹ trước khi đặt hàng, sản phẩm không được đổi trả
                                        vì lý do không thích, không hợp.
                                    </p>
                                </div>

                                <form class="cart"
                                      action="/"
                                      method="post" enctype='multipart/form-data'>
                                    <div class="sticky-add-to-cart-wrapper">
                                        <div class="sticky-add-to-cart">
                                            <div class="sticky-add-to-cart__product">

                                                <img src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl" 
                                                     class="sticky-add-to-cart-img">

                                                <div class="product-title-small hide-for-small">
                                                    <strong>@Model.Name</strong>
                                                </div>
                                                <div class="price-wrapper">
                                                    <p class="price product-page-price price-on-sale">
                                                        <del>
                                                            <span class="woocommerce-Price-amount amount">
                                                                @Model.Price<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                            </span>
                                                        </del>
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                @Model.PriceSale<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                            </span>
                                                        </ins>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="quantity buttons_added">
                                                @*<label class="screen-reader-text"
                                                       for="quantity_5e8ab1c8db65e">
                                                    @Model.Name
                                                </label>
                                                <input type="button" value="-" class="minus button is-form">
                                                <input type="number" id="quantity_5e8ab1c8db65e"
                                                       class="input-text qty text" step="1" min="1" max="9999"
                                                       name="quantity" value="1" title="SL" size="4"
                                                       inputmode="numeric">
                                                <input type="button" value="+" class="plus button is-form">*@
                                            </div>

                                            @*<button type="submit" name="add-to-cart" value="279" class="single_add_to_cart_button button alt">
                                                    Thêm vào giỏ hàng
                                            </button>*@

                                            <a href="/Product/AddToCart?Id=@Model.ProductID&Name=@Model.Name&ImageUrl=@Model.ImageUrl&Price=@Model.PriceSale&Quantity=1" class="single_add_to_cart_button button alt" style="margin-bottom: 2em;">
                                                Thêm vào giỏ hàng
                                            </a>
                                        
                                        <a href="javascript:void(0);" class="devvn_buy_now devvn_buy_now_style" style="width: 110px;" data-id="279">
                                            <strong>Mua ngay</strong>
                                        </a>
                                        </div>
                                    </div>
                                </form>

                                @*<div class="product_meta">
                                    <span class="posted_in">
                                        Danh mục: <a href="..\..\danh-muc-san-pham\cham-soc-toc\index.htm" rel="tag">
                                            Chăm
                                            sóc tóc
                                        </a>, <a href="..\..\danh-muc-san-pham\trang-diem\index.htm"
                                                 rel="tag">Trang điểm</a>
                                    </span>
                                </div>*@
                                @*<div class="social-icons share-icons share-row relative">
                                    <a href="whatsapp://send?text=Combo%202%20Son%20Kem%20L%C3%AC%202%20%C4%90%E1%BA%A7u%20LEMONADE%2001%20Sugar%20%2B%2005%20Tea%20Perfect%20Couple%20Lip - https://shoplamdep.haiphongweb.com/san-pham/combo-2-son-kem-li-2-dau-lemonade-01-sugar-05-tea-perfect-couple-lip/"
                                       data-action="share/whatsapp/share"
                                       class="icon button circle is-outline tooltip whatsapp show-for-medium"
                                       title="Share on WhatsApp"><i class="icon-phone"></i></a><a href="//www.facebook.com/sharer.php?u=https://shoplamdep.haiphongweb.com/san-pham/combo-2-son-kem-li-2-dau-lemonade-01-sugar-05-tea-perfect-couple-lip/"
                                                                                                  data-label="Facebook"
                                                                                                  onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
                                                                                                  rel="noopener noreferrer nofollow" target="_blank"
                                                                                                  class="icon button circle is-outline tooltip facebook"
                                                                                                  title="Share on Facebook"><i class="icon-facebook"></i></a><a href="//twitter.com/share?url=https://shoplamdep.haiphongweb.com/san-pham/combo-2-son-kem-li-2-dau-lemonade-01-sugar-05-tea-perfect-couple-lip/"
                                                                                                                                                                onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
                                                                                                                                                                rel="noopener noreferrer nofollow" target="_blank"
                                                                                                                                                                class="icon button circle is-outline tooltip twitter"
                                                                                                                                                                title="Share on Twitter"><i class="icon-twitter"></i></a><a href="mailto:enteryour@addresshere.com?subject=Combo%202%20Son%20Kem%20L%C3%AC%202%20%C4%90%E1%BA%A7u%20LEMONADE%2001%20Sugar%20%2B%2005%20Tea%20Perfect%20Couple%20Lip&body=Check%20this%20out:%20https://shoplamdep.haiphongweb.com/san-pham/combo-2-son-kem-li-2-dau-lemonade-01-sugar-05-tea-perfect-couple-lip/"
                                                                                                                                                                                                                            rel="nofollow" class="icon button circle is-outline tooltip email"
                                                                                                                                                                                                                            title="Email to a Friend"><i class="icon-envelop"></i></a><a href="//pinterest.com/pin/create/button/?url=https://shoplamdep.haiphongweb.com/san-pham/combo-2-son-kem-li-2-dau-lemonade-01-sugar-05-tea-perfect-couple-lip/&media=https://shoplamdep.haiphongweb.com/wp-content/uploads/2019/02/son-kem-li-2-dau-lemonade-mau-nau-cam-dat-01-sugar_img_358x358_843626_fit_center.jpg&description=Combo%202%20Son%20Kem%20L%C3%AC%202%20%C4%90%E1%BA%A7u%20LEMONADE%2001%20Sugar%20%2B%2005%20Tea%20Perfect%20Couple%20Lip"
                                                                                                                                                                                                                                                                                         onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
                                                                                                                                                                                                                                                                                         rel="noopener noreferrer nofollow" target="_blank"
                                                                                                                                                                                                                                                                                         class="icon button circle is-outline tooltip pinterest"
                                                                                                                                                                                                                                                                                         title="Pin on Pinterest"><i class="icon-pinterest"></i></a><a href="//plus.google.com/share?url=https://shoplamdep.haiphongweb.com/san-pham/combo-2-son-kem-li-2-dau-lemonade-01-sugar-05-tea-perfect-couple-lip/"
                                                                                                                                                                                                                                                                                                                                                       target="_blank"
                                                                                                                                                                                                                                                                                                                                                       class="icon button circle is-outline tooltip google-plus"
                                                                                                                                                                                                                                                                                                                                                       onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
                                                                                                                                                                                                                                                                                                                                                       rel="noopener noreferrer nofollow" title="Share on Google+">
                                        <i class="icon-google-plus"></i>
                                    </a><a href="//www.linkedin.com/shareArticle?mini=true&url=https://shoplamdep.haiphongweb.com/san-pham/combo-2-son-kem-li-2-dau-lemonade-01-sugar-05-tea-perfect-couple-lip/&title=Combo%202%20Son%20Kem%20L%C3%AC%202%20%C4%90%E1%BA%A7u%20LEMONADE%2001%20Sugar%20%2B%2005%20Tea%20Perfect%20Couple%20Lip"
                                           onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
                                           rel="noopener noreferrer nofollow" target="_blank"
                                           class="icon button circle is-outline tooltip linkedin"
                                           title="Share on LinkedIn"><i class="icon-linkedin"></i></a>
                                </div>*@
                            </div><!-- .summary -->
                        </div><!-- .row -->
                    </div><!-- .product-main -->
                    <div class="product-footer">
                        <div class="woocommerce-tabs wc-tabs-wrapper container tabbed-content">
                            <ul class="tabs wc-tabs product-tabs small-nav-collapse nav nav-uppercase nav-line nav-left"
                                role="tablist">
                                <li class="description_tab active" id="tab-title-description" role="tab"
                                    aria-controls="tab-description">
                                    <a href="#tab-description">Mô tả</a>
                                </li>
                                <li class="pwb_tab_tab " id="tab-title-pwb_tab" role="tab"
                                    aria-controls="tab-pwb_tab">
                                    <a href="#tab-pwb_tab">Brand</a>
                                </li>
                                <li class="reviews_tab " id="tab-title-reviews" role="tab"
                                    aria-controls="tab-reviews">
                                    <a href="#tab-reviews">Đánh giá (0)</a>
                                </li>
                                <li class="ux_global_tab_tab " id="tab-title-ux_global_tab" role="tab"
                                    aria-controls="tab-ux_global_tab">
                                    <a href="#tab-ux_global_tab">Thông tin thanh toán</a>
                                </li>
                            </ul>
                            <div class="tab-panels">
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content active"
                                     id="tab-description" role="tabpanel"
                                     aria-labelledby="tab-title-description">
                                    <p>
                                        <strong>
                                            <span class="base" data-ui-id="page-title-wrapper">@Model.Name</span>
                                        </strong>
                                    </p>
                                    <p>
                                        <span class="base" data-ui-id="page-title-wrapper">
                                            Khó ai có thể phủ nhận
                                            sức hút đầy ma lực của những cây son đối với phái nữ. Nhất là khi
                                            công đoạn cuối cùng của việc make up này trở thành điểm nhấn khác
                                            biệt và rực rỡ. Việc lựa chọn màu son, giống như lựa chọn tuyên ngôn
                                            về cá tính của mỗi cô gái. Cô ấy có thể quyến rũ, rực rỡ và bí ẩn
                                            với màu son đỏ không bao giờ lỗi mốt hay có thể cá tính, trầm lắng
                                            và đầy ma mị với những tone màu trầm mặc, hay cũng có thể tươi trẻ,
                                            tự nhiên và tinh khôi cùng những tone màu tươi tắn, trẻ
                                            trung&#8230;Vì thế, hãy bổ sung ngay cho bộ sưu tập son của bạn với
                                            những cây son trong bộ 
                                            <strong>
                                                @Model.Name
                                            </strong>của Makeup Artist Quách Ánh nhé.
                                        </span>
                                    </p>
                                </div>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--pwb_tab panel entry-content "
                                     id="tab-pwb_tab" role="tabpanel" aria-labelledby="tab-title-pwb_tab">
                                    <h2>Brand</h2>
                                    <div id="tab-pwb_tab-content">
                                        <h3>Agapan</h3>
                                        <span>
                                            <img width="120" height="60"
                                                 src="~/Content/wp-content/uploads/2019/02/1471419239agapan-logo_img_120x60_63ea52_fit_center.jpg"
                                                 class="attachment-thumbnail size-thumbnail" alt="">
                                        </span>
                                    </div>
                                </div>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content "
                                     id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                                    <div id="reviews" class="woocommerce-Reviews row">
                                        <div id="comments" class="col large-12">
                                            <h3 class="woocommerce-Reviews-title normal">
                                                Đánh giá
                                            </h3>
                                            <p class="woocommerce-noreviews">Chưa có đánh giá nào.</p>
                                        </div>
                                        <div id="review_form_wrapper" class="large-12 col">
                                            <div id="review_form" class="col-inner">
                                                <div class="review-form-inner has-border">
                                                    <div id="respond" class="comment-respond">
                                                        <h3 id="reply-title" class="comment-reply-title">
                                                            Hãy là người đầu tiên nhận xét &ldquo;@Model.Name&rdquo;
                                                            <small>
                                                                <a rel="nofollow"
                                                                   id="cancel-comment-reply-link"
                                                                   href="index.htm#respond"
                                                                   style="display:none;">Hủy</a>
                                                            </small>
                                                        </h3>
                                                        <form action="#"
                                                              method="post" id="commentform" class="comment-form"
                                                              novalidate="">
                                                            <div class="comment-form-rating">
                                                                <label for="rating">Đánh giá của bạn</label><select name="rating" id="rating" required="">
                                                                    <option value="">Xếp hạng&hellip;</option>
                                                                    <option value="5">Rất tốt</option>
                                                                    <option value="4">Tốt</option>
                                                                    <option value="3">Trung bình</option>
                                                                    <option value="2">Không tệ</option>
                                                                    <option value="1">Rất tệ</option>
                                                                </select>
                                                            </div>
                                                            <p class="comment-form-comment">
                                                                <label for="comment">
                                                                    Nhận xét của bạn&nbsp;<span class="required">*</span>
                                                                </label><textarea id="comment" name="comment" cols="45"
                                                                                  rows="8" required=""></textarea>
                                                            </p>
                                                            <p class="comment-form-author">
                                                                <label for="author">
                                                                    Tên&nbsp;<span class="required">*</span>
                                                                </label> <input id="author" name="author" type="text"
                                                                                value="" size="30" required="">
                                                            </p>
                                                            <p class="comment-form-email">
                                                                <label for="email">
                                                                    Email&nbsp;<span class="required">*</span>
                                                                </label> <input id="email" name="email" type="email"
                                                                                value="" size="30" required="">
                                                            </p>
                                                            <p class="form-submit">
                                                                <input name="submit"
                                                                       type="submit" id="submit" class="submit"
                                                                       value="Gửi đi"> <input type='hidden'
                                                                                              name='comment_post_ID' value='279'
                                                                                              id='comment_post_ID'>
                                                                <input type='hidden' name='comment_parent'
                                                                       id='comment_parent' value='0'>
                                                            </p>
                                                        </form>
                                                    </div><!-- #respond -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--ux_global_tab panel entry-content "
                                     id="tab-ux_global_tab" role="tabpanel"
                                     aria-labelledby="tab-title-ux_global_tab">
                                    <h3>Nhập thông tin thanh toán</h3>

                                </div>
                            </div><!-- .tab-panels -->
                        </div><!-- .tabbed-content -->
                    </div>
                </div><!-- col large-9 -->
            </div><!-- .row -->
            <div class="devvn-popup-quickbuy" data-popup="popup-quickbuy" id="popup_content_279">
                <div class="devvn-popup-inner">
                    <div class="devvn-popup-title">
                        <span>
                            @Model.Name
                        </span>
                        <button type="button" class="devvn-popup-close"></button>
                    </div>
                    <div class="devvn-popup-content devvn-popup-content_279 ">
                        <div class="devvn-popup-content-left ">
                            <div class="devvn-popup-prod">
                                <div class="devvn-popup-img">
                                    <img src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                         alt="">
                                </div>
                                <div class="devvn-popup-info">
                                    <span class="devvn_title">
                                        @Model.Name
                                    </span>
                                    <span class="devvn_price">
                                        <del>
                                            <span class="woocommerce-Price-amount amount">
                                                163.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                            </span>
                                        </del>
                                        <ins>
                                            <span class="woocommerce-Price-amount amount">
                                                150.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                            </span>
                                        </ins>
                                    </span>
                                </div>
                            </div>

                            <div class="devvn_prod_variable" data-simpleprice="150000">
                                <form class="cart"
                                      action="https://localhost:44349/Product/Index"
                                      method="post" enctype='multipart/form-data'>
                                    <div class="sticky-add-to-cart-wrapper">
                                        <div class="sticky-add-to-cart">
                                            <div class="sticky-add-to-cart__product">
                                                <img src="~/Content/wp-content/uploads/2021/01/@Model.ImageUrl"
                                                     class="sticky-add-to-cart-img">
                                                <div class="product-title-small hide-for-small">
                                                    <strong>
                                                        @Model.Name
                                                    </strong>
                                                </div>
                                                <div class="price-wrapper">
                                                    <p class="price product-page-price price-on-sale">
                                                        <del>
                                                            <span class="woocommerce-Price-amount amount">
                                                                163.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                            </span>
                                                        </del>
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                150.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                            </span>
                                                        </ins>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus button is-form">
                                                <label class="screen-reader-text"
                                                       for="quantity_5e8ab1c8efa8f">
                                                    Combo 2 Son Kem Lì 2 Đầu
                                                    LEMONADE 01 Sugar + 05 Tea Perfect Couple Lip số
                                                    lượng
                                                </label>
                                                <input type="number" id="quantity_5e8ab1c8efa8f"
                                                       class="input-text qty text" step="1" min="1" max="9999"
                                                       name="quantity" value="1" title="SL" size="4"
                                                       inputmode="numeric">
                                                <input type="button" value="+" class="plus button is-form">
                                            </div>
                                            <button type="submit" name="add-to-cart" value="279" class="single_add_to_cart_button button alt">Mua hàng</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <span>Bạn vui lòng nhập đúng số điện thoại để chúng tôi sẽ gọi xác nhận đơn hàng trước khi giao hàng. Xin cảm ơn!</span>
                        </div>
                        <div class="devvn-popup-content-right">
                            <form class="devvn_cusstom_info" id="devvn_cusstom_info" method="post">
                                <div class="popup-customer-info">
                                    <div class="popup-customer-info-title">Thông tin người mua</div>
                                    <div class="popup-customer-info-group popup-customer-info-radio">
                                        <label>
                                            <input type="radio" name="customer-gender" value="1" checked>
                                            <span>Anh</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="customer-gender" value="2">
                                            <span>Chị</span>
                                        </label>
                                    </div>
                                    <div class="popup-customer-info-group">
                                        <div class="popup-customer-info-item-2">
                                            <input type="text" class="customer-name" name="customer-name"
                                                   placeholder="Họ và tên">
                                        </div>
                                        <div class="popup-customer-info-item-2">
                                            <input type="text" class="customer-phone" name="customer-phone"
                                                   placeholder="Số điện thoại">
                                        </div>
                                    </div>
                                    <div class="popup-customer-info-group">
                                        <div class="popup-customer-info-item-1">
                                            <input type="text" class="customer-email" name="customer-email"
                                                   data-required="false"
                                                   placeholder="Địa chỉ email (Không bắt buộc)">
                                        </div>
                                    </div>
                                    <div class="popup-customer-info-group">
                                        <div class="popup-customer-info-item-1">
                                            <textarea class="customer-address" name="customer-address"
                                                      placeholder="Địa chỉ nhận hàng (Không bắt buộc)"></textarea>
                                        </div>
                                    </div>
                                    <div class="popup-customer-info-group">
                                        <div class="popup-customer-info-item-1">
                                            <textarea class="order-note" name="order-note"
                                                      placeholder="Ghi chú đơn hàng (Không bắt buộc)"></textarea>
                                        </div>
                                    </div>
                                    <div class="popup-customer-info-group">
                                        <div class="popup-customer-info-item-1 popup_quickbuy_shipping">
                                            <div class="popup_quickbuy_shipping_title">Tổng:</div>
                                            <div class="popup_quickbuy_total_calc"></div>
                                        </div>
                                    </div>
                                    <div class="popup-customer-info-group">
                                        <div class="popup-customer-info-item-1">
                                            <button type="button" class="devvn-order-btn">Đặt hàng ngay</button>
                                        </div>
                                    </div>
                                    <div class="popup-customer-info-group">
                                        <div class="popup-customer-info-item-1">
                                            <div class="devvn_quickbuy_mess"></div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="prod_id" id="prod_id" value="279">
                                <input type="hidden" name="prod_nonce" id="prod_nonce" value="">
                                <input type="hidden" name="enable_ship" id="enable_ship" value="">
                                <input name="require_address" id="require_address" type="hidden" value="0">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- shop container -->
</main><!-- #main -->
