<!DOCTYPE html>
<html lang="vi-VN" class="loading-site no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @*<link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="https://shoplamdep.haiphongweb.com/xmlrpc.php">*@

    <title>Riv3rShop - CEGroup</title>
    <link rel='dns-prefetch' href='//cdn.jsdelivr.net'>
    <link rel='dns-prefetch' href='//s.w.org'>
    <link rel="alternate" type="application/rss+xml"
          title="Dòng thông tin Mẫu website shop mỹ phẩm làm đẹp chuẩn seo &raquo;" href="~/Content/feed/index.rss">
    <link rel="alternate" type="application/rss+xml"
          title="Dòng phản hồi Mẫu website shop mỹ phẩm làm đẹp chuẩn seo &raquo;" href="~/Content/comments/feed/index.rss">
    <link rel='stylesheet' id='dashicons-css' href='~/Content/wp-includes/css/dashicons.min.css?ver=5.2.1' type='text/css'
          media='all'>
    <link rel='stylesheet' id='menu-icons-extra-css'
          href='~/Content/wp-content/plugins/ot-flatsome-vertical-menu/libs/menu-icons/css/extra.min.css?ver=0.10.2' type='text/css'
          media='all'>
    <link rel='stylesheet' id='wp-block-library-css' href='~/Content/wp-includes/css/dist/block-library/style.min.css?ver=5.2.1'
          type='text/css' media='all'>
    <link rel='stylesheet' id='wc-block-style-css'
          href='~/Content/wp-content/plugins/woocommerce/assets/css/blocks/style.css?ver=3.6.4' type='text/css' media='all'>
    <link rel='stylesheet' id='devvn-quickbuy-style-css'
          href='~/Content/wp-content/plugins/devvn-quick-buy/css/devvn-quick-buy.css?ver=2.0.0' type='text/css' media='all'>
    <link rel='stylesheet' id='ot-vertical-menu-css'
          href='~/Content/wp-content/plugins/ot-flatsome-vertical-menu/assets/css/ot-vertical-menu.css?ver=1.1.0' type='text/css'
          media='all'>
    <link rel='stylesheet' id='pwb-styles-frontend-css'
          href='~/Content/wp-content/plugins/perfect-woocommerce-brands/assets/css/styles-frontend.min.css?ver=1.7.6'
          type='text/css' media='all'>
    <link rel='stylesheet' id='woof-css' href='~/Content/wp-content/plugins/woocommerce-products-filter/css/front.css?ver=5.2.1'
          type='text/css' media='all'>
    <link rel='stylesheet' id='chosen-drop-down-css'
          href='~/Content/wp-content/plugins/woocommerce-products-filter/js/chosen/chosen.min.css?ver=5.2.1' type='text/css'
          media='all'>
    <link rel='stylesheet' id='icheck-jquery-color-css'
          href='~/Content/wp-content/plugins/woocommerce-products-filter/js/icheck/skins/flat/green.css?ver=5.2.1' type='text/css'
          media='all'>
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='bfa-font-awesome-css'
          href='//cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css?ver=4.7.0' type='text/css' media='all'>
    <link rel='stylesheet' id='flatsome-main-css' href='~/Content/wp-content/themes/flatsome/assets/css/flatsome.css'
          type='text/css' media='all'>
    <link rel='stylesheet' id='flatsome-shop-css'
          href='~/Content/wp-content/themes/flatsome/assets/css/flatsome-shop.css?ver=3.8.3' type='text/css' media='all'>
    <link rel='stylesheet' id='flatsome-style-css' href='~/Content/wp-content/themes/ban-hang/style.css?ver=3.0' type='text/css'
          media='all'>
    <script type="text/template" id="tmpl-variation-template">
        <div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
        <div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
        <div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
    </script>
    <script type="text/template" id="tmpl-unavailable-variation-template">
        <p>Rất tiếc, sản phẩm này hiện không tồn tại. Hãy chọn một phương thức kết hợp khác.</p>
    </script>
    @*<script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>
        <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>*@
    <link rel='https://api.w.org/' href='~/Content/wp-json/index.json'>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc.xml?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 5.2.1">
    <meta name="generator" content="WooCommerce 3.6.4">
    <link rel="canonical" href="index.htm">
    <link rel='shortlink' href='index.htm'>
    <link rel="alternate" type="application/json+oembed"
          href="wp-json/oembed/1.0/embed.json?url=https%3A%2F%2Fshoplamdep.haiphongweb.com%2F">
    <link rel="alternate" type="text/xml+oembed"
          href="wp-json/oembed/1.0/embed.xml?url=https%3A%2F%2Fshoplamdep.haiphongweb.com%2F&#038;format=xml">
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>

    <link rel="stylesheet" href="~/Content/wp-base/fontawesome-free-5.15.4-web/css/all.min.css" />
    <link rel="icon" href="~/Content/wp-content/uploads/2019/05/cropped-shop3-32x32.jpg" sizes="32x32">
    <link rel="icon" href="~/Content/wp-content/uploads/2019/05/cropped-shop3-192x192.jpg" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="~/Content/wp-content/uploads/2019/05/cropped-shop3-180x180.jpg">
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery-migrate.min.js'></script>
    <meta name="msapplication-TileImage"
          content="~/Content//wp-content/uploads/2019/05/cropped-shop3-270x270.jpg">

    @*<link rel="stylesheet" href="./wp-base/css/base.css">
        <link rel="stylesheet" href="./wp-base/css/custom-css.css" id="custom-css">
        <script type='text/javascript' src="./wp-base/js/base.js"></script>*@

    <link rel="stylesheet" href="~/Content/wp-base/css/custom-css.css" id="custom-css">
    <link rel="stylesheet" href="~/Content/wp-base/css/base.css">
    <script type='text/javascript' src="~/Content/wp-base/js/base.js"></script>

    <script>
        var woof_ajaxurl = "https://shoplamdep.haiphongweb.com/wp-admin/admin-ajax.php";
        var woof_lang = {
            'orderby': "orderby",
            'date': "date",
            'perpage': "per page",
            'pricerange': "price range",
            'menu_order': "menu order",
            'popularity': "popularity",
            'rating': "rating",
            'price': "price low to high",
            'price-desc': "price high to low"
        };

        if (typeof woof_lang_custom == 'undefined') {
            var woof_lang_custom = {};//!!important
        }
        //***
        var woof_is_mobile = 0;
        var woof_show_price_search_button = 0;
        var woof_show_price_search_type = 0;
        var woof_show_price_search_type = 2;
        var swoof_search_slug = "swoof";
        var icheck_skin = {};
        icheck_skin.skin = "flat";
        icheck_skin.color = "green";
        var is_woof_use_chosen = 1;
        var woof_current_values = '[]';
        //+++
        var woof_lang_loading = "Loading ...";
        var woof_lang_show_products_filter = "show products filter";
        var woof_lang_hide_products_filter = "hide products filter";
        var woof_lang_pricerange = "price range";
        //+++
        var woof_use_beauty_scroll = 0;
        //+++
        var woof_autosubmit = 1;
        var woof_ajaxurl = "https://shoplamdep.haiphongweb.com/wp-admin/admin-ajax.php";
        var woof_submit_link = "";
        var woof_is_ajax = 0;
        var woof_ajax_redraw = 0;
        var woof_ajax_page_num = 1;
        var woof_ajax_first_done = false;
        var woof_checkboxes_slide_flag = true;
        //toggles
        var woof_toggle_type = "text";
        var woof_toggle_closed_text = "-";
        var woof_toggle_opened_text = "+";
        var woof_toggle_closed_image = "https://shoplamdep.haiphongweb.com/wp-content/plugins/woocommerce-products-filter/img/plus3.png";
        var woof_toggle_opened_image = "https://shoplamdep.haiphongweb.com/wp-content/plugins/woocommerce-products-filter/img/minus3.png";
        //indexes which can be displayed in red buttons panel
        var woof_accept_array = ["min_price", "orderby", "perpage", , "pwb-brand", "product_visibility", "product_cat", "product_tag"];
        //***
        //for extensions
        var woof_ext_init_functions = null;
        var woof_overlay_skin = "default";

        jQuery(function () {
            woof_current_values = jQuery.parseJSON(woof_current_values);
            if (woof_current_values.length == 0) {
                woof_current_values = {};
            }

        });
        function woof_js_after_ajax_done() {
            jQuery(document).trigger('woof_ajax_done');
        }
    </script>

</head>

@{ 
    var model = (List<ShopBanHang.Models.CartItem>)Session["Cart"];
    var const0 = 0;
}

<body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-188 woocommerce-no-js header-shadow lightbox lazy-icons nav-dropdown-has-arrow">
    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
    <div id="wrapper">
        <header id="header" class="header has-sticky sticky-jump">
            <div class="header-wrapper">
                <div id="masthead" class="header-main hide-for-sticky">
                    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
                        <!-- Logo -->
                        <div id="logo" class="flex-col logo">
                            <!-- Header logo -->
                            <a href="~/Home" title="Logo"
                               rel="home">
                                <img width="221" height="70" src="~/Content/wp-content/uploads/2019/05/shop3.jpg"
                                     class="header_logo header-logo"
                                     alt="Logo">
                                <img width="221" height="70"
                                     src="~/Content/wp-content/uploads/2019/05/shop3.jpg" 
                                     class="header-logo-dark"
                                     alt="Logo">
                            </a>
                        </div>
                        <!-- Mobile Left Elements -->
                        <div class="flex-col show-for-medium flex-left">
                            <ul class="mobile-nav nav nav-left ">
                                <li class="nav-icon has-icon">
                                    <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay"
                                       data-color="" class="is-small" aria-controls="main-menu" aria-expanded="false">
                                        <i class="icon-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Left Elements -->
                        <div class="flex-col hide-for-medium flex-left flex-grow">
                            <ul class="header-nav header-nav-main nav nav-left  nav-uppercase">
                                <li class="header-block">
                                    <div class="header-block-block-1">
                                        <div class="row row-small" id="row-1150705779">
                                            <div class="col medium-9 small-12 large-9">
                                                <div class="col-inner">
                                                    <div class="gap-element clearfix"
                                                         style="display:block; height:auto; padding-top:13px">
                                                    </div>
                                                    <div class="searchform-wrapper ux-search-box relative is-normal">
                                                        <form role="search" method="get" class="searchform" action="#/">
                                                            <div class="flex-row relative">
                                                                @{ Html.RenderAction("SearchformProduct", "Home");}         
                                                                <!-- .flex-col -->
                                                                <div class="flex-col flex-grow">
                                                                    <input type="search" class="search-field mb-0"
                                                                           name="s" value=""
                                                                           placeholder="Tìm kiếm sản phẩm, danh mục...">
                                                                    <input type="hidden" name="post_type"
                                                                           value="product">
                                                                </div><!-- .flex-col -->
                                                                <div class="flex-col">
                                                                    <button type="submit"
                                                                            class="ux-search-submit submit-button secondary button icon mb-0">
                                                                        <i class="fas fa-search"></i>
                                                                    </button>
                                                                </div><!-- .flex-col -->
                                                            </div><!-- .flex-row -->
                                                            <div class="live-search-results text-left z-top"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col medium-3 small-12 large-3">
                                                <div class="col-inner">
                                                    <div class="gap-element clearfix"
                                                         style="display:block; height:auto; padding-top:10px"></div>
                                                    <div class="icon-box featured-box icon-box-left text-left">
                                                        <div class="icon-box-img" style="width: 42px">
                                                            <div class="icon">
                                                                <div class="icon-inner">
                                                                    <img width="42" height="40"
                                                                         src="~/Content/wp-content/uploads/2019/02/icon_03.png"
                                                                         class="attachment-medium size-medium">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*<div class="icon-box-text last-reset">*@
                                                        <div class="icon-box-text last-reset">
                                                            <p style="text-align: left;">
                                                                <span style="font-size: 85%; color: #326e51;">Hỗ trợ</span><br>
                                                                <span style="font-size: 85%; color: #326e51;">khách hàng</span>
                                                            </p>
                                                        </div>
                                                    </div><!-- .icon-box -->
                                                </div>
                                            </div>
                                            <style scope="scope">
                                            </style>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Right Elements -->
                        <div class="flex-col hide-for-medium flex-right">
                            <ul class="header-nav header-nav-main nav nav-right  nav-uppercase">
                                <li class="cart-item has-icon has-dropdown">
                                    <a href="~/gio-hang" title="" class="header-cart-link is-small">
                                        <span class="image-icon header-cart-icon" data-icon-label="
                                              @if (model != null)
                                              {
                                                  @Session["TotalProduct"];
                                              }
                                              else
                                              {
                                                  @const0
                                              }
                                              ">
                                        <img class="cart-img-icon" alt="" src="~/Content/wp-content/uploads/2019/02/icon_01.png">
                                        </span>
                                        <span class="header-cart-title" style="text-transform: uppercase; font-weight: 500; padding-left: 5px; "> Giỏ hàng </span>
                                        <!-- .cart-img-inner -->
                                    </a>

                                    <ul class="nav-dropdown nav-dropdown-default" style="">
                                        <li class="html widget_shopping_cart">
                                            <div class="widget_shopping_cart_content">
                                                <ul class="woocommerce-mini-cart cart_list product_list_widget ">

                                                    @if (model != null)
                                                    {
                                                        foreach (var item in model)
                                                        {
                                                            <li class="woocommerce-mini-cart-item mini_cart_item">
                                                                <a href="/Home/RemoveToCart?Id=@item.Id" style="height:25px;" href="" class="remove remove_from_cart_button" aria-label="Xóa sản phẩm này" data-product_id="281" data-cart_item_key="e3796ae838835da0b6f6ea37bcf8bcb7" data-product_sku="">×</a>
                                                                <a href="" style="height:35px;">
                                                                    <img width="225" height="225" src="~/Content/wp-content/uploads/2021/01/@item.ImageUrl" 
                                                                         class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" 
                                                                         alt="" srcset="~/Content/wp-content/uploads/2021/01/@item.ImageUrl 225w, ~/Content/wp-content/uploads/2021/01/@item.ImageUrl 150w, ~/Content/wp-content/uploads/2021/01/@item.ImageUrl 100w" 
                                                                         sizes="(max-width: 225px) 100vw, 225px">@item.Name
                                                                </a>
                                                                <span class="quantity">@item.Quantity x
                                                                <span class="woocommerce-Price-amount amount">@item.Price
                                                                    <span class="woocommerce-Price-currencySymbol">₫</span>
                                                                    </span>
                                                                </span>
                                                            </li>
                                                        }
                                                        <p style="margin-bottom: 0;" class="woocommerce-mini-cart__total total"><strong>Tạm tính:</strong> <span class="woocommerce-Price-amount amount">@Session["TotalMoney"]<span class="woocommerce-Price-currencySymbol">₫</span></span></p>
                                                        <p class="woocommerce-mini-cart__buttons buttons">
                                                        <a href="~/gio-hang" class="button wc-forward">Xem giỏ hàng</a>
                                                        <a href="#" class="button checkout wc-forward">Thanh toán</a></p>
                                                    } else
                                                    {
                                                        @*<ul class="nav-dropdown nav-dropdown-default">*@
                                                            <li class="html widget_shopping_cart">
                                                                <div class="widget_shopping_cart_content">
                                                                    <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong giỏ hàng.</p>
                                                                </div>
                                                                <img src="~/Content/wp-content/uploads/2021/01/nocartbeaf32db.png">
                                                            </li>
                                                        @*</ul>*@
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                        <!-- .nav-dropdown -->
                                </li>

                                <li class="account-item has-icon">
                                    <a href="tai-khoan/index.htm" class="nav-top-link nav-top-not-logged-in" data-open="#login-form-popup">
                                        <span class="image-icon header-cart-icon" data-icon-label="0">
                                            <img class="cart-img-icon" alt="" src="~/Content/wp-content/uploads/2019/02/icon_02.png">
                                        </span>
                                        <span class="header-cart-title" style="color: #326e51; font-size: 15px; padding-left: 5px;">Tài khoản </span>
                                    </a> <!-- .account-login-link -->
                                </li>
                            </ul>
                        </div>

                        <!-- Mobile Right Elements -->
                        <div class="flex-col show-for-medium flex-right">
                            <ul class="mobile-nav nav nav-right ">
                                <li class="cart-item has-icon">

                                    <a href="gio-hang/index.htm"
                                       class="header-cart-link off-canvas-toggle nav-top-link is-small"
                                       data-open="#cart-popup" data-class="off-canvas-cart" title="Giỏ hàng"
                                       data-pos="right">

                                        <span class="image-icon header-cart-icon" data-icon-label="0">
                                            <img class="cart-img-icon" alt="Giỏ hàng"
                                                 src="Content/wp-content/uploads/2019/02/icon_01.png">
                                        </span><!-- .cart-img-inner -->
                                    </a>


                                    <!-- Cart Sidebar Popup -->
                                    <div id="cart-popup" class="mfp-hide widget_shopping_cart">
                                        <div class="cart-popup-inner inner-padding">
                                            <div class="cart-popup-title text-center">
                                                <h4 class="uppercase">Giỏ hàng</h4>
                                                <div class="is-divider"></div>
                                            </div>
                                            <div class="widget_shopping_cart_content">
                                                <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong giỏ hàng.</p>
                                            </div>
                                            <div  class="cart-sidebar-content relative"></div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>

                    </div><!-- .header-inner -->

                </div><!-- .header-main -->

                <div id="wide-nav" class="header-bottom wide-nav nav-dark flex-has-center hide-for-medium">
                    <div class="flex-row container">
                        @{ Html.RenderAction("ProductCategory", "Home");}
                        <!-- flex-col -->
                        
                        @{ Html.RenderAction("MenuHeader", "Home");}
                        <!-- flex-col -->

                        <div class="flex-col hide-for-medium flex-right flex-grow">
                            <ul class="nav header-nav header-bottom-nav nav-right  nav-uppercase">
                                <li class="html header-button-1">
                                    <div class="header-button">
                                        <a href="~/gio-hang" class="button plain is-outline" style="border-radius:5px;">
                                            <span>Tra cứu đơn hàng</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- flex-col -->
                    </div><!-- .flex-row -->
                </div><!-- .header-bottom -->
                <div class="header-bg-container fill">
                    <div class="header-bg-image fill"></div>
                    <div class="header-bg-color fill"></div>
                </div><!-- .header-bg-container -->
            </div><!-- header-wrapper-->
        </header>

        @RenderBody()

        <footer id="footer" class="footer-wrapper">

            <section class="section footer-section" id="section_696579273">
                <div class="bg section-bg fill bg-fill  bg-loaded">
                </div><!-- .section-bg -->

                <div class="section-content relative">


                    <div class="row row1" id="row-389499583">

                        <div class="col medium-4 small-12 large-4">
                            <div class="col-inner">

                                <h4>FANPAGE FACEBOOK</h4>
                                <p>
                                    <iframe style="border: none; overflow: hidden;"
                                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCE-Group-%25C4%2590%25C3%25A0o-t%25E1%25BA%25A1o-L%25E1%25BA%25ADp-tr%25C3%25ACnh-vi%25C3%25AAn-qu%25E1%25BB%2591c-t%25E1%25BA%25BF-104571061345946&tabs=timeline&width=500&height=340&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"                                            
                                            width="500" height="200" frameborder="0" scrolling="no">
                                    </iframe>
                                </p>
                                <div class="gap-element clearfix" style="display:block; height:auto; padding-top:12px">
                                </div>

                                <div class="social-icons follow-icons">
                                    <a href="#" target="_blank" data-label="Facebook"
                                       rel="noopener noreferrer nofollow"
                                       class="icon primary button circle facebook tooltip"
                                       title="Follow on Facebook">
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#"
                                       target="_blank" data-label="Twitter" 
                                       rel="noopener noreferrer nofollow"
                                       class="icon primary button circle  twitter tooltip" title="Follow on Twitter">
                                       <i class="icon-twitter"></i>
                                    </a>
                                    <a href="mailto:#" data-label="E-mail"
                                        rel="nofollow" class="icon primary button circle  email tooltip"
                                        title="Send us an email">
                                        <i class="icon-envelop"></i>
                                    </a>
                                    <a href="tel:#"
                                            target="_blank" data-label="Phone" rel="noopener noreferrer nofollow"
                                            class="icon primary button circle  phone tooltip" title="Call us">
                                        <i class="icon-phone"></i>
                                    </a>
                                </div>


                            </div>
                        </div>
                        <div class="col medium-8 small-12 large-8">
                            <div class="col-inner">

                                <div class="row row-small" id="row-59064017">

                                    <div class="col medium-4 small-12 large-4">
                                        <div class="col-inner">

                                            <h4 class="tt_footer text-uppercase">HỖ TRỢ KHÁCH HÀNG</h4>
                                            <ul>
                                                <li class="txt_color_2">
                                                    <span style="font-size: 95%;">
                                                        Hotline: 0967 089 712
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        (1000đ/phút , 8-22h kể cả T7,
                                                        CN)
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a href="#">
                                                            Các câu hỏi thường
                                                            gặp
                                                        </a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a href="#">
                                                            Gửi yêu cầu hỗ
                                                            trợ
                                                        </a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a href="#">
                                                            Hướng dẫn đặt
                                                            hàng
                                                        </a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a href="#">
                                                            Phương thức vận
                                                            chuyển
                                                        </a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a href="#">
                                                            Chính sách đổi
                                                            trả
                                                        </a>
                                                    </span>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="col medium-4 small-12 large-4">
                                        <div class="col-inner">

                                            <h4 class="tt_footer text-uppercase">VỀ HASAKI.VN</h4>
                                            <ul>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a class="txt_link_hasaki"
                                                           href="#">Phiếu mua hàng</a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a class="txt_link_hasaki"
                                                           href="#">Giới thiệu Hasaki.vn</a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a class="txt_link_hasaki"
                                                           href="#">Tuyển Dụng</a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a class="txt_link_hasaki"
                                                           href="#">Chính sách bảo mật</a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a class="txt_link_hasaki"
                                                           href="#">Điều khoản sử dụng</a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a class="txt_link_hasaki"
                                                           href="#">Liên hệ</a>
                                                    </span>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="col medium-4 small-12 large-4">
                                        <div class="col-inner">

                                            @*<h4 class="tt_footer text-uppercase">HỢP TÁC &amp; LIÊN KẾT</h4>
                                            <ul>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a href="https://topweb.com.vn">http://topweb.com.vn</a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="font-size: 95%;">
                                                        <a href="https://topweb.com.vn">https://topweb.com.vn</a>
                                                    </span>
                                                </li>
                                            </ul>*@
                                            <h4>TẢI ỨNG DỤNG</h4>
                                            <div class="row row-small" id="row-1519349805">

                                                <div class="col medium-6 small-12 large-6">
                                                    <div class="col-inner">

                                                        <div class="img has-hover x md-x lg-x y md-y lg-y"
                                                             id="image_1114781504">
                                                            <div class="img-inner dark">
                                                                <img width="261" height="261"
                                                                     src="~/Content/wp-content/uploads/2019/02/QRCode_App.png"
                                                                     class="attachment-original size-original" alt=""
                                                                     srcset="~/Content/wp-content/uploads/2019/02/QRCode_App.png 261w, wp-content/uploads/2019/02/QRCode_App-150x150.png 150w, wp-content/uploads/2019/02/QRCode_App-100x100.png 100w"
                                                                     sizes="(max-width: 261px) 100vw, 261px">
                                                            </div>

                                                            <style scope="scope">
                                                                #image_1114781504 {
                                                                    width: 100%;
                                                                }
                                                            </style>
                                                        </div>



                                                    </div>
                                                </div>
                                                <div class="col medium-6 small-12 large-6">
                                                    <div class="col-inner">

                                                        <div class="img has-hover x md-x lg-x y md-y lg-y"
                                                             id="image_1055707464">
                                                            <div class="img-inner dark">
                                                                <img width="398" height="118"
                                                                     src="~/Content/wp-content/uploads/2019/02/img_app_store.jpg"
                                                                     class="attachment-original size-original" alt=""
                                                                     srcset="~/Content/wp-content/uploads/2019/02/img_app_store.jpg 398w, wp-content/uploads/2019/02/img_app_store-300x89.jpg 300w"
                                                                     sizes="(max-width: 398px) 100vw, 398px">
                                                            </div>

                                                            <style scope="scope">
                                                                #image_1055707464 {
                                                                    width: 100%;
                                                                }
                                                            </style>
                                                        </div>


                                                        <div class="gap-element clearfix"
                                                             style="display:block; height:auto; padding-top:11px"></div>

                                                        <div class="img has-hover x md-x lg-x y md-y lg-y"
                                                             id="image_202167306">
                                                            <div class="img-inner dark">
                                                                <img width="451" height="111"
                                                                     src="~/Content/wp-content/uploads/2019/02/img_google_play.jpg"
                                                                     class="attachment-original size-original" alt=""
                                                                     srcset="~/Content/wp-content/uploads/2019/02/img_google_play.jpg 451w, wp-content/uploads/2019/02/img_google_play-300x74.jpg 300w"
                                                                     sizes="(max-width: 451px) 100vw, 451px">
                                                            </div>

                                                            <style scope="scope">
                                                                #image_202167306 {
                                                                    width: 100%;
                                                                }
                                                            </style>
                                                        </div>
                                                    </div>
                                                </div>
                                                <style scope="scope"></style>
                                            </div>
                                        </div>
                                    </div>
                                    <style scope="scope">
                                    </style>
                                </div>                         
                            </div>
                        </div>
                        <style scope="scope"></style>
                    </div>
                    <div class="row row-small row2" id="row-520233760">
                        <div class="col medium-8 small-12 large-8">
                            <div class="col-inner">
                                <p><span style="font-size: 85%;"><strong>ĐẸP</strong></span></p>
                                <p>
                                    <span style="font-size: 85%;">
                                        Đẹp - Là một từ mà mọi người đều khát khao cả nam lẫn
                                        nữ. Đẹp đi đôi với khỏe mạnh, đẹp đi đôi với sự lựa chọn thông minh. Đẹp toát ra
                                        từ vẻ ngoài tươi tắn tràn đầy năng lượng sống. Chính vì vậy sức khỏe và làm đẹp
                                        ngày càng được nhiều người quan để hướng đến cuộc sống tươi vui, hạnh phúc hơn.
                                        Sức khỏe tốt được biểu hiện qua làn da hồng hào,mịn màng, vóc dáng cân đối, mái
                                        tóc bồng bềnh và hàm răng chắc khỏe. Thấu hiểu nhu cầu đó, các hãng mỹ phẩm
                                        không ngừng nghiên cứu và cho ra đời hàng nghìn loại mỹ phẩm làm đẹp đa dạng
                                        chủng loại. Nhiều nhóm hàng mỹ phẩm bao gồm chăm sóc da, chăm sóc tóc, chăm sóc
                                        toàn thân, chăm sóc cá nhân, nước hoa lần lượt ra đời và đa dạng hóa để đáp ứng
                                        nhu cầu làm đẹp của con người.
                                    </span>
                                </p>
                                <p>
                                    <span style="font-size: 85%;">
                                        Hasaki luôn tôn trọng khách hàng, lấy niềm vui, sự hài
                                        lòng của khách hàng để làm động lực, không ngừng tìm kiếm các sản phẩm tốt nhất
                                        để mỗi khách hàng đều có thể trở nên tự tin và xinh đẹp hơn. Các hãng thương
                                        hiệu mỹ phẩm ở Hasaki luôn là các thương hiệu uy tín, được mọi người tin dùng
                                        như : Secret Key, Laneige, Vichy, Avène, Yves Rocher, Laroche Posay,
                                        Lancôme,...Bên cạnh đó khi mua hàng ở Hasaki, khách luôn được giá ưu đãi tốt
                                        nhất, dịch vụ nhanh chóng &amp; nhiều chương trình Khuyến Mãi khác.
                                    </span>
                                </p>
                                <p> </p>

                            </div>
                        </div>
                        <div class="col medium-4 small-12 large-4">
                            <div class="col-inner">
                                <div class="item_footer_right">
                                    <div class="">
                                        <span style="font-size: 85%; color: #000000;">
                                            <b>
                                                Bản quyền © 2016
                                                Hasaki.vn
                                            </b>
                                        </span>
                                    </div>
                                    <p>
                                        <strong>
                                            <span style="font-size: 85%;">
                                                Công Ty TNHH HASAKI BEAUTY &amp;
                                                S.P.A
                                            </span>
                                        </strong>
                                    </p>
                                </div>
                                <ul>
                                    <li class="item_footer_right">
                                        <span style="font-size: 85%;">
                                            Địa chỉ giao
                                            dịch:
                                        </span>
                                    </li>
                                    <li class="item_footer_right">
                                        <div class="">
                                            <span style="font-size: 85%;">
                                                CN 1: 71 Hoàng Hoa Thám, Phường 13,
                                                Quận Tân Bình.
                                            </span>
                                        </div>
                                    </li>
                                    <li class="item_footer_right">
                                        <span style="font-size: 85%;">
                                            CN 2: 555 Đường 3 tháng
                                            2, Phường 8, Quận 10.
                                        </span>
                                    </li>
                                    <li class="item_footer_right">
                                        <span style="font-size: 85%;">
                                            CN 3: 176 Phan Đăng Lưu,
                                            Phường 3, Quận Phú Nhuận.
                                        </span>
                                    </li>
                                    <li class="item_footer_right">
                                        <span style="font-size: 85%;">
                                            CN 4: 94 Lê Văn Việt,
                                            Phường Hiệp Phú, Quận 9.
                                        </span>
                                    </li>
                                    <li class="item_footer_right">
                                        <span style="font-size: 85%;">
                                            Hotline: 1900 636
                                            900
                                        </span>
                                    </li>
                                </ul>
                                <div class="item_footer_right">
                                    <span style="font-size: 85%;">
                                        Giấy chứng nhận Đăng ký
                                        Kinh doanh số 0313612829 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày
                                        13/01/2016
                                    </span>
                                </div>
                            </div>
                        </div>
                        <style scope="scope">
                        </style>
                    </div>
                </div><!-- .section-content -->
                <style scope="scope">
                    #section_696579273 {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        background-color: rgb(255, 255, 255);
                    }
                </style>
            </section>

            <div class="absolute-footer dark medium-text-center small-text-center">
                <div class="container clearfix">
                    <div class="footer-secondary pull-right">
                        <div class="footer-text inline-block small-block">
                            <div style="padding-top: 5px">Hotline kỹ thuật: 0967.089.712</div>
                        </div>
                    </div><!-- -right -->
                    <div class="footer-primary pull-left">
                        <div class="copyright-footer">
                            <div style="padding-top: 5px">
                                <strong>
                                    Copyright 2021 © <a href="~/">
                                        Thiết kế website CEGroup
                                    </a> 
                                </strong>
                            </div>
                        </div>
                    </div><!-- .left -->
                </div><!-- .container -->
            </div><!-- .absolute-footer -->
            <a href="#top"
               class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle"
               id="top-link"><i class="fas fa-angle-up"></i></a>

        </footer><!-- .footer-wrapper -->

    </div><!-- #wrapper -->
    <!-- Mobile Sidebar -->
    <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
        <div class="sidebar-menu no-scrollbar ">
            <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
                <li class="header-search-form search-form html relative has-icon">
                    <div class="header-search-form-wrapper">
                        <div class="searchform-wrapper ux-search-box relative is-normal">
                            <form role="search" method="get" class="searchform"
                                  action="#/">
                                <div class="flex-row relative">
                                    <div class="flex-col search-form-categories">
                                        <select class="search_categories resize-select mb-0" name="product_cat">
                                            <option value="" selected='selected'>All</option>
                                            <option value="cham-soc-da-mat">Chăm sóc da mặt</option>
                                            <option value="cham-soc-toc">Chăm sóc tóc</option>
                                            <option value="clinic-spa">Clinic &amp; Spa</option>
                                            <option value="giam-beo">Giảm béo</option>
                                            <option value="trang-diem">Trang điểm</option>
                                            <option value="triet-long">Triệt lông</option>
                                        </select>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <input type="search" class="search-field mb-0" name="s" value=""
                                               placeholder="Tìm kiếm sản phẩm, danh mục...">
                                        <input type="hidden" name="post_type" value="product">
                                    </div><!-- .flex-col -->
                                    <div class="flex-col">
                                        <button type="submit"
                                                class="ux-search-submit submit-button secondary button icon mb-0">
                                            <i class="icon-search"></i>
                                        </button>
                                    </div><!-- .flex-col -->
                                </div><!-- .flex-row -->
                                <div class="live-search-results text-left z-top"></div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26">
                    <a href="danh-muc-san-pham/suc-khoe-lam-dep/index.htm" class="nav-top-link">
                        Sức khỏe &#038; làm
                        đẹp
                    </a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27">
                    <a href="danh-muc-san-pham/be-do-choi/index.htm" class="nav-top-link">Bé &#8211; đồ chơi</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28">
                    <a href="danh-muc-san-pham/be-an/index.htm" class="nav-top-link">Bé ăn</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29">
                    <a href="danh-muc-san-pham/be-ve-sinh/index.htm" class="nav-top-link">Bé vệ sinh</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30">
                    <a href="danh-muc-san-pham/cham-soc-co-the/index.htm" class="nav-top-link">Chăm sóc cơ thể</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-31">
                    <a href="danh-muc-san-pham/cham-soc-da-mat/index.htm" class="nav-top-link">Chăm sóc da mặt</a>
                    <ul class="children">
                        <li class="sp-ban-chay menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-109">
                            <a href="#">Sản phẩm bán chạy</a>
                            <ul class="nav-sidebar-ul">
                                <li class="menu-cha menu-item menu-item-type-custom menu-item-object-custom menu-item-54">
                                    <a href="#">Kem dưỡng da</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55">
                                    <a href="#">Kem dưỡng cho mọi loại da</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56">
                                    <a href="#">Kem làm sáng da mặt</a>
                                </li>
                                <li class="menu-cha menu-item menu-item-type-custom menu-item-object-custom menu-item-60">
                                    <a href="#">Xịt khoáng &#8211; nước hoa hồng</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-61">
                                    <a href="#">Xịt khoáng</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-63">
                                    <a href="#">Nước hoa hồng cho mọi loại da</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
                                    <a href="#">Nước hoa hồng làm sáng da</a>
                                </li>
                                <li class="menu-cha menu-item menu-item-type-custom menu-item-object-custom menu-item-76">
                                    <a href="#">Tẩy tế bào chết mặt</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-77">
                                    <a href="#">Tẩy tế bào chết mọi loại da</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78">
                                    <a href="#">Tẩy tế bào chết da thường</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-79">
                                    <a href="#">Tẩy tế bào chết cho da mụn</a>
                                </li>
                                <li class="menu-cha menu-item menu-item-type-custom menu-item-object-custom menu-item-80">
                                    <a href="#">Bộ sản phẩm chăm sóc da</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sp-mua-nhieu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-110">
                            <a href="#">Sản phẩm mua nhiều</a>
                            <ul class="nav-sidebar-ul">
                                <li class="menu-cha menu-item menu-item-type-custom menu-item-object-custom menu-item-84">
                                    <a href="#">Serum &#8211; tinh chất dưỡng da</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-85">
                                    <a href="#">Chống lão hóa da</a>
                                </li>
                                <li class="menu-cha menu-item menu-item-type-custom menu-item-object-custom menu-item-87">
                                    <a href="#">Chống nắng da mặt</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-86">
                                    <a href="#">Làm trắng da</a>
                                </li>
                                <li class="menu-cha menu-item menu-item-type-custom menu-item-object-custom menu-item-88">
                                    <a href="#">Phụ kiện chăm sóc da</a>
                                </li>
                                <li class="menu-cha menu-item menu-item-type-custom menu-item-object-custom menu-item-57">
                                    <a href="#">Sữa rửa mặt</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-58">
                                    <a href="#">Sữa rửa mặt cho da mụn</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59">
                                    <a href="#">Sữa rửa mặt cho mọi loại da</a>
                                </li>
                                <li class="menu-cha menu-item menu-item-type-custom menu-item-object-custom menu-item-81">
                                    <a href="#">Mặt nạ</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82">
                                    <a href="#">Mặt nạ chống lão hóa</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83">
                                    <a href="#">Mặt nạ cho mọi loại da</a>
                                </li>
                            </ul>
                        </li>
                        <li class="giam-gia-hot-nhat menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-111">
                            <a href="#">Giảm giá hot nhất</a>
                            <ul class="nav-sidebar-ul">
                                <li class="menu-cha menu-item menu-item-type-custom menu-item-object-custom menu-item-106">
                                    <a href="#">Sub-menu 1</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-107">
                                    <a href="#">Sub-menu 2</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-108">
                                    <a href="#">Sub-menu 3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32">
                    <a href="danh-muc-san-pham/cham-soc-toc/index.htm" class="nav-top-link">Chăm sóc tóc</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33">
                    <a href="danh-muc-san-pham/clinic-spa/index.htm" class="nav-top-link">Clinic &#038; Spa</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34">
                    <a href="danh-muc-san-pham/giam-beo/index.htm" class="nav-top-link">Giảm béo</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35">
                    <a href="danh-muc-san-pham/trang-diem/index.htm" class="nav-top-link">Trang điểm</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36">
                    <a href="danh-muc-san-pham/triet-long/index.htm" class="nav-top-link">Triệt lông</a>
                </li>
            </ul>
        </div><!-- inner -->
    </div><!-- #mobile-menu -->
    <script id="lazy-load-icons">
        /* Lazy load icons css file */
        var fl_icons = document.createElement('link');
        fl_icons.rel = 'stylesheet';
        //fl_icons.href = 'https://shoplamdep.haiphongweb.com/wp-content/themes/flatsome/assets/css/fl-icons.css';
        fl_icons.href = 'Content/wp-content/themes/flatsome/assets/css/fl-icons.css';
        fl_icons.type = 'text/css';
        var fl_icons_insert = document.getElementsByTagName('link')[0];
        fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
    </script>
    <div class="bottom-contact">
        <ul>
            <li>
                <a id="goidien" href="tel:0986.989.626">
                    <img src="http://topweb.com.vn/wp-content/uploads/2019/06/icon-phone2.png">
                    <br>
                    <span>Gọi điện</span>
                </a>
            </li>
            <li>
                <a id="nhantin" href="sms:0986.989.626">
                    <img src="http://topweb.com.vn/wp-content/uploads/2019/06/icon-sms2.png">
                    <br>
                    <span>Nhắn tin</span>
                </a>
            </li>
            <li>
                <a id="chatzalo" href="http://zalo.me/0986.989.626">
                    <img src="http://topweb.com.vn/wp-content/uploads/2019/06/icon-zalo2.png">
                    <br>
                    <span>Chat zalo</span>
                </a>
            </li>
            <li>
                <a id="chatfb" href="https://www.messenger.com/t/topweb.com.vn">
                    <img src="http://topweb.com.vn/wp-content/uploads/2019/06/icon-mesenger2.png">
                    <br>
                    <span>Chat Fb</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="float-contact">
        <button class="chat-zalo"><a href="#">Chat Zalo</a></button>
        <button class="chat-face"><a href="#">Chat Facebook</a></button>
        <button class="hotline"><a href="tel:0967.089.712">Hotline: 0967.089.712</a></button>
    </div>


    <div id="login-form-popup" class="lightbox-content mfp-hide">
        <div class="woocommerce-notices-wrapper"></div>
        <div class="account-container lightbox-inner">


            <div class="col2-set row row-divided row-large" id="customer_login">

                <div class="col-1 large-6 col pb-0">
                    <div class="account-login-inner">
                        <h3 class="uppercase">Đăng nhập</h3>
                        <form class="woocommerce-form woocommerce-form-login login" method="post">
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="username">
                                    Tên tài khoản hoặc địa chỉ email&nbsp;<span class="required">*</span>
                                </label>
                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                       name="username" id="username" autocomplete="username" value="">
                            </p>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="password">Mật khẩu&nbsp;<span class="required">*</span></label>
                                <input class="woocommerce-Input woocommerce-Input--text input-text" type="password"
                                       name="password" id="password" autocomplete="current-password">
                            </p>
                            <p class="form-row">
                                <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                    <input class="woocommerce-form__input woocommerce-form__input-checkbox"
                                           name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>
                                        Ghi nhớ
                                        mật khẩu
                                    </span>
                                </label>
                                <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce"
                                       value="2080123d63"><input type="hidden" name="_wp_http_referer" value="/"> <button type="submit" class="woocommerce-Button button woocommerce-form-login__submit"
                                                                                                                          name="login" value="Đăng nhập">
                                    Đăng nhập
                                </button>
                            </p>
                            <p class="woocommerce-LostPassword lost_password">
                                <a href="tai-khoan/lost-password/index.htm">Quên mật khẩu?</a>
                            </p>
                        </form>
                    </div><!-- .login-inner -->
                </div>
                <div class="col-2 large-6 col pb-0">
                    <div class="account-register-inner">
                        <h3 class="uppercase">Đăng ký</h3>
                        <form method="post" class="woocommerce-form woocommerce-form-register register">
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="reg_email">Địa chỉ email&nbsp;<span class="required">*</span></label>
                                <input type="email" class="woocommerce-Input woocommerce-Input--text input-text"
                                       name="email" id="reg_email" autocomplete="email" value="">
                            </p>
                            <p>Một mật khẩu sẽ được gửi đến địa chỉ email của bạn.</p>
                            <div class="woocommerce-privacy-policy-text"></div>
                            <p class="woocommerce-FormRow form-row">
                                <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce"
                                       value="dd300aa97e"><input type="hidden" name="_wp_http_referer" value="/"> <button type="submit" class="woocommerce-Button button" name="register" value="Đăng ký">
                                    Đăng ký
                                </button>
                            </p>
                        </form>
                    </div><!-- .register-inner -->
                </div><!-- .large-6 -->
            </div> <!-- .row -->
        </div><!-- .account-login-container -->
    </div>


    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/devvn-quick-buy/js/jquery.validate.min.js?ver=2.0.0'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/devvn-quick-buy/js/jquery.bpopup.min.js?ver=2.0.0'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/underscore.min.js?ver=1.8.3'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpUtilSettings = { "ajax": { "url": "\/wp-admin\/admin-ajax.php" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-includes/js/wp-util.min.js?ver=5.2.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_add_to_cart_variation_params = { "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_no_matching_variations_text": "R\u1ea5t ti\u1ebfc, kh\u00f4ng c\u00f3 s\u1ea3n ph\u1ea9m n\u00e0o ph\u00f9 h\u1ee3p v\u1edbi l\u1ef1a ch\u1ecdn c\u1ee7a b\u1ea1n. H\u00e3y ch\u1ecdn m\u1ed9t ph\u01b0\u01a1ng th\u1ee9c k\u1ebft h\u1ee3p kh\u00e1c.", "i18n_make_a_selection_text": "Ch\u1ecdn c\u00e1c t\u00f9y ch\u1ecdn cho s\u1ea3n ph\u1ea9m tr\u01b0\u1edbc khi cho s\u1ea3n ph\u1ea9m v\u00e0o gi\u1ecf h\u00e0ng c\u1ee7a b\u1ea1n.", "i18n_unavailable_text": "R\u1ea5t ti\u1ebfc, s\u1ea3n ph\u1ea9m n\u00e0y hi\u1ec7n kh\u00f4ng t\u1ed3n t\u1ea1i. H\u00e3y ch\u1ecdn m\u1ed9t ph\u01b0\u01a1ng th\u1ee9c k\u1ebft h\u1ee3p kh\u00e1c." };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min.js?ver=3.6.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var devvn_quickbuy_array = { "ajaxurl": "https:\/\/shoplamdep.haiphongweb.com\/wp-admin\/admin-ajax.php", "siteurl": "https:\/\/shoplamdep.haiphongweb.com", "popup_error": "\u0110\u1eb7t h\u00e0ng th\u1ea5t b\u1ea1i. Vui l\u00f2ng \u0111\u1eb7t h\u00e0ng l\u1ea1i. Xin c\u1ea3m \u01a1n!", "out_of_stock_mess": "H\u1ebft h\u00e0ng!", "price_decimal": ".", "num_decimals": "0", "currency_format": "\u20ab" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/devvn-quick-buy/js/devvn-quick-buy.js?ver=2.0.0'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/ot-flatsome-vertical-menu/assets/js/ot-vertical-menu.js?ver=1.1.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pwb_ajax_object = { "carousel_prev": "<", "carousel_next": ">" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/perfect-woocommerce-brands/assets/js/functions-frontend.min.js?ver=1.7.6'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "Xem gi\u1ecf h\u00e0ng", "cart_url": "https:\/\/shoplamdep.haiphongweb.com\/gio-hang\/", "is_cart": "", "cart_redirect_after_add": "no" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.6.4'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.6.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_025ce6b2ff7afa0426b00a51009431d2", "fragment_name": "wc_fragments_025ce6b2ff7afa0426b00a51009431d2", "request_timeout": "5000" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.6.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/hoverIntent.min.js?ver=1.8.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var flatsomeVars = { "ajaxurl": "https:\/\/shoplamdep.haiphongweb.com\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "45", "user": { "can_edit_pages": false } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/themes/flatsome/assets/js/flatsome.js?ver=3.8.3'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/themes/flatsome/inc/extensions/flatsome-lazy-load/flatsome-lazy-load.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/flatsome/assets/js/woocommerce.js?ver=3.8.3'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/wp-embed.min.js?ver=5.2.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce-products-filter/js/icheck/icheck.min.js?ver=5.2.1'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/woocommerce-products-filter/js/front.js?ver=5.2.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce-products-filter/js/html_types/radio.js?ver=5.2.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce-products-filter/js/html_types/checkbox.js?ver=5.2.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce-products-filter/js/html_types/select.js?ver=5.2.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce-products-filter/js/html_types/mselect.js?ver=5.2.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce-products-filter/js/chosen/chosen.jquery.min.js?ver=5.2.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _zxcvbnSettings = { "src": "https:\/\/shoplamdep.haiphongweb.com\/wp-includes\/js\/zxcvbn.min.js" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-includes/js/zxcvbn-async.min.js?ver=1.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pwsL10n = { "unknown": "M\u1eadt kh\u1ea9u m\u1ea1nh kh\u00f4ng x\u00e1c \u0111\u1ecbnh", "short": "R\u1ea5t y\u1ebfu", "bad": "Y\u1ebfu", "good": "Trung b\u00ecnh", "strong": "M\u1ea1nh", "mismatch": "M\u1eadt kh\u1ea9u kh\u00f4ng kh\u1edbp" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-admin/js/password-strength-meter.min.js?ver=5.2.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_password_strength_meter_params = { "min_password_strength": "3", "i18n_password_error": "Vui l\u00f2ng nh\u1eadp m\u1eadt kh\u1ea9u kh\u00f3 h\u01a1n.", "i18n_password_hint": "G\u1ee3i \u00fd: M\u1eadt kh\u1ea9u ph\u1ea3i c\u00f3 \u00edt nh\u1ea5t 12 k\u00fd t\u1ef1. \u0110\u1ec3 n\u00e2ng cao \u0111\u1ed9 b\u1ea3o m\u1eadt, s\u1eed d\u1ee5ng ch\u1eef in hoa, in th\u01b0\u1eddng, ch\u1eef s\u1ed1 v\u00e0 c\u00e1c k\u00fd t\u1ef1 \u0111\u1eb7c bi\u1ec7t nh\u01b0 ! \" ? $ % ^ & )." };
/* ]]> */
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/woocommerce/assets/js/frontend/password-strength-meter.min.js?ver=3.6.4'></script>
</body>

</html>